{% extends 'admin.html.twig' %}

{% block title %}Edit{% endblock %}

{% block form %}
    <h1>Edit User</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
                    <fieldset class="mb-3">
                        
                        {{ form_row(form.name) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.roles) }}
                    </fieldset>
                    {{ form_row(form.plainPassword, {
                        label: 'Password'
                    }) }}
                    

                    <button href="{{ path('admin_users') }}" type="submit" class="btn btn-primary btn-lg my-3">save chanegs</button>
                    <a href="{{ path('admin_users') }}" class="btn btn-secondary">back to users list</a>
                {{ form_end(form) }}
{% endblock %}
